* {
  box-sizing: border-box;
  max-width: 2000px;
}
html,
body {
  margin: 0;
  padding: 0;
}
header {
  background-image: url("../img/replacebg.png");
  height: 950px;
  background-position: top right;
  background-repeat: no-repeat;
}
.topNav {
  background-color: #4a657d;
  display: flex;
  align-items: center;
  height: 50px;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
}
.topNav img {
  height: 12px;
  margin: 8px;
}
.icon {
  cursor: pointer;
  min-width: 130px;
}
img[src*="kon"] {
  height: 11px;
  margin-left: 12px;
}
img[src*="cl"] {
  margin-left: 15vw;
}
.mail {
  margin-right: 19vw;
  min-width: 180px;
  cursor: pointer;
}
.call {
  min-width: 130px;
  margin-right: 10px;
}
.sup {
  cursor: pointer;
}
.topNav button {
  background-color: #1f87e4;
  color: #ffffff;
  border: 0;
  height: 50px;
  min-width: 140px;
  width: 200px;
  margin-right: 14vw;
  margin-left: 10px;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
}
.mainNav {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  background-color: #ffffff;
  height: 100px;
  padding-left: 15vw;
  padding-right: 14vw;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.082);
}
.mainNav .nav {
  display: flex;
  justify-content: space-between;
  align-content: center;
  width: 30vw;
  min-width: 450px;
}
.mainNav h4 {
  color: #4a657d;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}
.mainNav img {
  height: 64px;
  width: 175;
  margin-right: 28vw;
}
.banner {
  display: grid;
  align-items: center;
  justify-items: center;
}
@media (max-width: 1200px) {
  .mail {
    margin-right: 8vw;
  }
  img[src*="cl"] {
    margin-left: 6vw;
  }
  .mainNav img {
    margin-right: 20vw;
  }
  .mainNav {
    padding-left: 6vw;
  }
}
.title {
  color: #4a657d;
  font-family: "Roboto", sans-serif;
  text-align: center;
  margin-top: 280px;
  margin-left: 100px;
  margin-right: 100px;
}
.title h1 {
  font-size: 50px;
}
.titleBtn {
  display: flex;
  /* margin-top: 750px; */
  width: 100%;
  justify-content: space-between;
}
.titleBtn button {
  background-color: #1f87e4;
  font-family: "Roboto", sans-serif;
  border: 0;
  cursor: pointer;
}
.titleBtn .our {
  margin-top: 20px;
  width: 210px;
  height: 55px;
  color: #ffffff;
  margin-bottom: 300px;
}
.next {
  background-image: url("../img/bg\ slider.png");
  min-width: 180px;
  font-size: 15px;
  height: 60px;
  margin-top: -40px;
  color: #000000;
}
.prev {
  width: 75px;
  height: 60px;
  margin-top: -40px;
}
.consulting {
  display: grid;
  font-family: "Roboto", sans-serif;
  grid-template-columns: auto auto;
  color: #4a657d;
  width: 100%;
  height: 750px;
}
.consulting .our {
  background-color: #1f87e4;
  font-family: "Roboto", sans-serif;
  border: 0;
  margin-top: 20px;
  width: 210px;
  height: 55px;
  color: #ffffff;
  margin-bottom: 300px;
  cursor: pointer;
}
.consulting h1 {
  margin-top: 230px;
  font-size: 40px;
  margin-right: 15vw;
  text-transform: uppercase;
}
.consulting .colortext {
  color: #1f87e4;
}
.consulting p {
  font-size: 14px;
  line-height: 1.714;
  height: 90px;
  z-index: 280;
  overflow: hidden;
  margin-right: 10vw;
}
.consulting img {
  grid-row: 1 / 4;
  margin-top: 100px;
  margin-right: 125px;
}
